* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.country-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.country-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.country-flags {
  display: block;
  width: 40px;
  height: 25px;
}

.country-name {
  margin-left: 5px;

  font-size: 20px;
  font-weight: 700;
}

.country-name-lg {
  font-size: 35px;
}

.country-info {
  font-size: 18px;
}
